<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="DeploymentOne" Language="1033" Version="1.0.0.0" Manufacturer="ICT Student" UpgradeCode="bc803daf-fb17-4684-b591-2b04c7d46f02">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="WixOne" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="DeploymentFolder" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="DeploymentOne.exe" Guid="63D391D7-CDE1-4E33-BE3C-95E56822D050">
				<File Id="DeploymentOne.exe" Name="DeploymentOne.exe" Source="$(var.DeploymentOne.TargetPath)" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
